* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #f1d3a2;
  min-height: 6em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

p.header__logo-text {
  font-family: sofia;
  position: absolute;
  top: 0.4em;
  left: 0.5em;
}

.header__nav {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 30em auto;
  grid-template-rows: 1fr;
}

.header__nav-first-three {
  grid-area: 1 / 1 / 2 / 2;
  width: 30em;
}

.header__nav-last-two {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 2em;
}

.header__nav-first-three-list {
  display: flex;
  justify-content: space-between;
}

.header__nav-last-two-list {
  display: flex;
  justify-content: space-around;
}

.header a {
  color: blue;
  font-size: 1.15em;
  text-decoration: none;
}

.header a:hover {
  background-color: rgb(208, 233, 126);
  color: rgb(155, 11, 35);
}

.header a:focus {
  border: 0.1em solid black;
}

.home-page-main__main-page {
  width: 100%;
  height: 45vh;
  background: url("../Images/Homepage_banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  align-items: center;
  justify-self: center;
}

.home-page-main__main-page>h1 {
  text-align: center;
  font-size: 3em;
  font-family: Abyssinica SIL;
  background-image: linear-gradient(to bottom, #36026a 15%, rgb(214, 183, 10) 30%);
  color: transparent;
  background-clip: text;
}

.main-heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  margin-bottom: 0.3em;
}

.home-page-main__home-page-article {
  padding: 0 1em;
}

.home-page-main__home-page-article-text,
.education-my-education-aside-text,
.education-my-education-text,
.interests-text-1-part-1,
.interests-text-1-part-2,
.interests-text-2,
.resume-text-1,
.resume-text-2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.education-main {
  margin-top: 1.5em;
}

.education-table {
  max-width: 35em;
  border: 2px solid rgb(73, 72, 72);
  border-collapse: collapse;
  box-shadow: 5px -4px 3px rgb(190, 116, 79);
  padding: 1em;
}

.education-table-header,
.education-course,
.education-credit-hours {
  border: 1px solid;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.education-table-header {
  background-color: cadetblue;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.education-course,
.education-credit-hours {
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

tr:nth-child(odd) {
  background-color: rgb(220, 219, 219);
}

tr:nth-child(even) {
  background-color: white;
}

.education-my-education {
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.interests-body {
  display: grid;
  height: 100%;
  grid-template-rows: 4.5em 144em 5em;
  grid-template-columns: 1fr;
}

.interests-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 86em 60em;
}

.first-section {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32em 52em;
  padding: 2em 1em;
}

.first-section-1st-half {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1em;
}

.first-section-1st-half-main {
  grid-area: 1 / 1 / 2 / 2;
}

img {
  max-width: 100%;
}

.interests-sidebar {
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgb(241, 139, 67);
  border-radius: 1em;
  max-height: 28em;
  padding: 1.5em;
  margin-top: 2em;
}

.interests-sidebar>h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.interests-sidebar>ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  list-style-position: inside;
  margin-left: -2em;
}

.first-section-2nd-half {
  grid-area: 2 / 1 / 3 / 2;
}

.interests-image-2 {
  max-width: 60vw;
}

.second-section {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3em 32em 22em;
  padding: 1em;
}

.video-supported-1 {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.5em 15em 10em;
}

.video-supported-1>h2 {
  grid-area: 1 / 1 / 2 / 3;
}

.video-supported-1>video {
  grid-area: 2 / 1 / 3 / 2;
}

.video-supported-1-text-1 {
  grid-area: 2 / 2 / 3 / 3;
}

.video-supported-1-text-2 {
  grid-area: 3 / 1 / 3 / 3;
}

.video-supported-2 {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.5em 16em;
}

.video-supported-2 h2 {
  grid-area: 1 / 1 / 2 / 3;
}

.video-supported-2 video {
  grid-area: 2 / 1 / 3 / 2;
}

.video-supported-2-text {
  grid-area: 2 / 2 / 3 / 3;
}

.second-section h2 {
  grid-area: 1 / 1 / 2 / 2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.video-supported video {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

.video-supported h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.video-supported p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 1em;
}

.resume-main {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.resume-section-1 {
  display: flex;
  margin: 2em 1em;
}

.resume-section-2 {
  display: flex;
  margin: 2em 1em;
}

.resume-figure {
  width: 190em;
}

.resume-main>h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7em;
  padding: 0.5em 0;
  padding-bottom: 1em;
  text-align: center;
}

.resume-figure img {
  border: 2px grey solid;
  max-width: 90%;
  padding-left: 0.5em;
}

.resume-figure img:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.resume-focused {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 35vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.resume-focused-image {
  align-self: center;
  margin: auto;
  display: block;
  align-content: center;
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

figcaption {
  margin-top: 1em;
  font-size: 1.2em;
  font-family: monospace;
}

.contact-main {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45em 4em 32em 20em;
}

.contact-main>img {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 90vw;
  border: 0.2em solid rgb(156, 153, 153);
  border-style: none none solid none;
  margin: 1em auto;
  justify-self: center;
}

.contact-main>h2 {
  text-align: center;
  margin-bottom: 2em;
}

form {
  padding-left: 2em;
  padding-bottom: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  line-height: 1.3em;
}

input {
  border-radius: 0.3em;
  background-color: aliceblue;
  width: 11em;
  font-size: 1em;
  border: 0.1em solid grey;
}

input[type='email'] {
  width: 15em;
}

input[type='submit'] {
  background-color: rgb(203, 241, 146);
  text-transform: capitalize;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

#error {
  color: #e9143f;
}

.error-input {
  border-color: #e9143f;
}

textarea {
  background-color: rgb(230, 230, 230);
  border-radius: 0.5em;
  margin-top: 0.5em;
  font-size: 1.1em;
  width: 30em;
}

.my-contact-info {
  padding-left: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-rows: 3em repeat(3, 4em);
  grid-template-columns: 20% 80%;
}

.submitted {
  display: block !important;
  max-height: 35em !important;
  margin-top: 7em;
  margin-left: 4em;
}

.my-contact-info>h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7em;
  padding-left: 1em;
  grid-area: 1 / 1 / 2 / 3;
}

.icons {
  width: 3em;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.labels {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  align-self: center;
}

.footer {
  background-color: #0466c2;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.6em;
  margin-top: 1.9em;
  font-size: 1.1em;
}

@media screen and (min-width: 840px) {
  .home-page-main__main-page {
    width: 100%;
    height: 75vh;
  }

  .home-page-main {
    display: grid;
    grid-template-rows: 30em 20em;
  }

  .education-table-header {
    padding: 0em;
    margin: 0;
  }

  .education-table {
    padding: 1em;
    margin-left: 2em;
    width: 100%;
  }

  .education-first-section {
    padding-left: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .education-my-education h2 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    padding-left: 0.5em;
  }

  .education-my-education-aside-text {
    grid-area: 2 / 2 / 3 / 3;
    margin-left: 2em;
    padding: 0em 1em;
  }

  .education-my-education-text {
    padding: 1em;
  }

  .interests-body {
    display: grid;
    grid-template-rows: 4.5em 120em 5em;
  }

  .interests-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 57em auto;
  }

  .first-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 21em 17em;
  }

  .first-section-1st-half {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .first-section-1st-half-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4em 16em;
  }

  .first-section-1st-half-main h2 {
    grid-area: 1 / 1 / 2 / 4;
  }

  .interests-sidebar {
    height: auto;
  }

  .interests-sidebar li {
    line-height: 1.6em;
  }

  .interests-text-1-part-1 {
    margin-left: 1em;
  }

  .first-section-2nd-half {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 13em 22em;
  }

  .interests-text-1-part-2 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .interests-image-2 {
    grid-area: 2 / 1 / 3 / 2;
    float: left;
  }

  .interests-image-2 img {
    max-height: 20em;
    float: left;
  }

  .interests-text-2 {
    grid-area: 2 / 2 / 3 / 4;
    padding-left: 2em;
  }

  .video-supported-1 {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5em auto auto;
  }

  .video-supported-1>video {
    grid-area: 2 / 1 / 4 / 2;
  }

  .video-supported-1-text-2 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .contact-main>img {
    max-height: 90vh;
  }

  .contact-main {
    grid-template-rows: 35em 4em 30em 20em;
  }

  .contact-body {
    grid-template-rows: 4.5em 87em 5em;
  }
}

@media screen and (max-width: 480px) {
  .home-page-body {
    display: grid;
    height: 100%;
    grid-template-rows: 8.4% 86.6% 5%;
  }

  .home-page-main {
    display: grid;
    grid-template-rows: 30% 70%;
    margin-top: 1.5em;
  }

  .header {
    height: 8em;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
  }

  li {
    width: 7em;
  }

  .header__nav {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .header__nav-first-three {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 8em;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
  }

  .header__nav-last-two {
    grid-area: 1 / 2 / 2 / 3;
    width: 8em;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
  }

  .header__nav-first-three-list {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: repeat(3, 1.25em);
    grid-template-columns: 100%;
    align-items: center;
  }

  .header__nav-last-two-list {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: repeat(2, 1.25em);
    grid-template-columns: 100%;
    align-items: center;
  }

  .header__nav-item--1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .header__nav-item--2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .header__nav-item--3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .header__nav-item--4 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .header__nav-item--5 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .header a {
    margin-bottom: 2em;
  }

  .home-page-main__main-page {
    height: 25vh;
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    align-items: center;
    justify-self: center;
  }

  .home-page-main__main-page>h1 {
    padding-top: 0.7em;
    padding-bottom: 3em;
  }

  .main-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-bottom: 0.3em;
  }

  .education-main {
    display: block;
  }

  .education-my-education-text {
    padding-left: 1em;
  }

  .education-table {
    margin: 1em;
  }

  .interests-body {
    display: grid;
    height: 100%;
    grid-template-rows: 8em 185em 5em;
  }

  .interests-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96em 85em;
    gap: 1em;
    padding: 1em;
  }

  .first-section {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40em 55em;
    padding: 2em 1em;
  }

  .first-section-1st-half {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1em;
  }

  .first-section-1st-half-main {
    grid-area: 1 / 1 / 2 / 2;
  }

  .interests-sidebar {
    grid-area: 1 / 2 / 2 / 3;
    max-height: 37em;
    padding: 1.5em;
    margin-top: 2em;
  }

  .second-section {
    /* grid-area: 2 / 1 / 3 / 2; */
    display: block;
    /* grid-template-columns: 100%;
    grid-template-rows: 3em 50em 40em; */
  }

  .video-supported-1 {
    /* grid-area: 2 / 1 / 3 / 2; */
    display: block;
  }

  .video-supported-2 {
    /* grid-area: 3 / 1 / 4 / 2; */
    display: block;
  }

  video {
    padding-bottom: 1em;
  }

  .resume-body {
    display: block;
    /* grid-template-rows: auto 1fr auto; */
  }

  .resume-main {
    /* grid-area: 2 / 1 / 3 / 2; */
    padding-left: 1em;
    padding-bottom: 1em;
    display: block;
  }

  .resume-section-1,
  .resume-section-2 {
    display: block;
  }

  .resume-section-1>figure,
  .resume-section-2>.resume-figure {
    max-width: 100%;
  }

  .contact-body {
    display: grid;
    grid-template-rows: 8.4% 86.6% 5%;
  }

  .contact-main {
    display: grid;
    grid-template-rows: 30em 4em 30em 15em;
  }

  .contact-main>img {
    grid-area: 1 / 1 / 2 / 2;
    max-width: 90%;
    margin: 1em 1em;
  }

  .contact-main>h2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  form {
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 2em;
  }

  input {
    font-size: 1.1em;
  }

  input[type='email'] {
    width: 15em;
  }

  textarea {
    width: 30em;
    max-width: 90%;
  }

  .footer {
    height: 4.5em;
    grid-column: 1/2;
    grid-row: 3/4;
  }
}